extends template.pug

block content 
  .container-fluid(style='background: url(./img/basketball_court.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh; display: flex; align-items: center;')
    table.table.mx-5
      thead
        tr
          th(scope='col') Welcome
          th#uname(scope='col') #{uname}
      tbody
        tr
          th(scope='row') Email
          td#email #{email}
        tr
          th(scope='row') Position
          td#pos #{pos}
        tr
          th(scope='row') Experience
          td#exp #{exp}